<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/city.css">
  <title>City <%= destination.name %></title>
</head>
<body>
  <header>
    City <%= destination.name %>
  </header>
    <script>
    console.log(('<%= (destination.name)%>'))
    </script>
  <div class="container">
    <aside class="sidebar">
      <!-- Orte-Buttons -->
       <% for (const cityKey in locations) {
        if (Object.prototype.hasOwnProperty.call(locations, cityKey)) {
          const element = locations[cityKey]; %>
         <button onclick="pickLocation('<%= element.name.replace(/\s+/g, '') %>')" <%= element.name.replace(/\s+/g, '')%>><%= element.name%></button>   
       <% }
       } %>
    </aside>
    <main class="action-panel">
      <!-- Aktionen-Buttons -->
      <button onclick="encounterPokemon()">Pokemon Fangen</button>
      <button>Trainer Kampf</button>
      <button>Karte Öffnen</button>
      <button>Rucksack Öffnen</button>
    </main>
  </div>
</body>

<script>
  function encounterPokemon(){
    const destination = <%- JSON.stringify(destination) %>;
    const loq = <%- JSON.stringify(locations) %>;
    location = "/encounter/"+destination.name+"/"
  }

  function pickLocation(location){
    // console.log(`[${CSS.escape(location)}]`);
    const button = document.querySelector(`[${CSS.escape(location)}]`);
    // console.log("Button", button)
    // console.log(button.classList);
    
  }
</script>
</html>
