<!DOCTYPE html>
<html>
<head>
    <title>City</title>
    <link rel="stylesheet" type="text/css" href="../css/Poke.css">
    <link rel="stylesheet" type="text/css" href="../css/city_preview.css">
    <script src="/city_preview.js"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/map">Map</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/pokedex">Pokedex</a></li>
            </ul>
        </nav>
    </header>
    <h1 >City: </h1>
    <div class="container">
        <button onclick="goToMap()">← <b>Map</b></button>
        <button onclick="location = '/city/<%=destination%>'"><b>Visit Destination</b></button>
    </div>
    
    <h2>Trainer</h2>
    <table>
        <tr>
            <th>Trainer</th>
            <th>Location</th>
            <th>Reward</th>
            <th>avg Team Level</th>
            <th>amount of Pokemon</th>
        </tr>
        <% trainers.forEach(trainer => { %>
            <tr>
                <td><%= trainer.name %></td>
                <td><%= trainer.location %></td>
                <td><%= trainer.money %></td>
                <td><%= trainer.avarageLevel %></td>
                <td><%= trainer.anzahlPokemon %></td>
            </tr>
        <% }); %>
    </table>

    <h2>Pokemon</h2>


    <table>
        <tr>
            <th>Number</th>
            <th>Location</th>
            <th>Blueprint</th>
            <th>Probability in %</th>
            <th>Level Range</th>
        </tr>
        
        <% pokemonSpawns.forEach(spawn => { %>
            <tr>
                <td><%= spawn.row %></td>
                <td><%= spawn.location %></td>
                <td><%= spawn.name %></td>
                <td><%= spawn.probability %></td>
                <td><%= spawn.min_level %> - <%= spawn.max_level%></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>