<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/Poke.css">
  <link rel="stylesheet" href="/css/encounter.css">
  <title>City <%= destination.name %></title>
</head>
<body>
  <header>
   <h1>Choose a location from <%= destination %></h1>
  </header>
  <div class="container">
    <aside class="sidebar">
      <!-- Orte-Buttons -->
       <% for (const cityKey in locations) {
        if (Object.prototype.hasOwnProperty.call(locations, cityKey)) {
          const element = locations[cityKey]; %>
         <button onclick="location.href='/encounter/<%= destination %>/<%= element.name%>'"><%= element.name%></button>   
       <% }
       } %>
    </aside>
</body>

<script>
  function encounterPokemon(){
    const destination = <%- JSON.stringify(destination) %>;
    const loq = <%- JSON.stringify(locations) %>;
    console.log(loq[0].name);
    location = "/encounter/"+destination.name+"/"+loq[0].name
  }
</script>
</html>
